<form action="write.php" method="post" class="py-2">
   {# タイトル #}
   <div class="mb-6">
      <label for="title" class="block mb-2 text-sm font-semibold text-gray-900">タイトル</label>
      <input
         id="title"
         type="text"
         name="title"
         value="{{ form_data.title }}"
         class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
         >
   </div>
   {# 投稿者名 #}
   <div class="mb-6">
      <label for="name" class="block mb-2 text-sm font-semibold text-gray-900">投稿者名</label>
      <input
         id="name"
         type="text"
         name="name"
         value="{{ form_data.name }}"
         class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
         >
   </div>
   {# 本文 #}
   {% if error.is_content_empty %}
   <div class="pb-6">
      <label for="body" class="block mb-2 text-sm font-semibold text-red-700">本文
         <span class="bg-red-100 ml-1 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">必須</span>
      </label>
      <textarea
         id="body"
         rows="6"
         name="body"
         class="outline-none p-2.5 w-full text-sm text-gray-900 bg-red-50 rounded-lg border border-red-500"
         placeholder="..."
      >{{ form_data.body }}</textarea>
      <p class="mt-2 text-sm text-red-600">
         <span class="font-medium">本文を入力してください。</span>
      </p>
   </div>
   {% else %}
   <div class="pb-6">
      <label for="body" class="block mb-2 text-sm font-semibold text-gray-900">本文
         <span class="bg-red-100 ml-1 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">必須</span>
      </label>
      <textarea
         id="body"
         rows="6"
         name="body"
         class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
         placeholder="..."
      >{{ form_data.body }}</textarea>
   </div>
   {% endif %}
   {# 削除パスワード #}
   <div>
      <label for="delete_password" class="block mb-2 text-sm font-semibold text-gray-900">削除パスワード</label>
      <input
         id="delete_password"
         type="password"
         name="delete_password"
         value="{{ form_data.delete_password }}"
         class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
   </div>
   {# 投稿ボタン #}
   <div class="w-full pb-20">
      <button type="submit" class="float-right mt-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2">
      投稿
      </button>
   </div>
</form>
